@mixin button-variant($bg, $text: $color-white) {
  color: $text;
  background: $bg;

  &:hover {
    color: $text;
    background: lighten($bg, 10%);
  }
}

.button {
  display: inline-block;
  padding: 0 16px;
  height: $form-size;
  font-size: 1rem;
  line-height: ($form-size - 1px);
  color: $color-primary;
  background: $color-white;
  border: 0;
  border-radius: $border-radius;
  cursor: pointer;
  outline: 0;
  transition: 0.2s all;

  &:hover {
    color: darken($color-primary, 5%);
  }

  > .iconleft {
    margin-right: 8px;
  }

  > .iconright {
    margin-left: 8px;
  }

  &.-primary {
    @include button-variant($color-primary);
  }

  &.-sub {
    @include button-variant($color-sub);
  }

  &.-plain {
    @include button-variant($color-gray-dark);
  }

  &.-clear {
    color: $color-gray-dark;
  }

  &.-clear:hover,
  &.-clear:focus {
    color: darken($color-gray-dark, 10%);
  }

  &.-small {
    font-size: 12px;
    line-height: $form-size-small - 1px;
    height: $form-size-small;
  }

  &.-x-small {
    font-size: 12px;
    line-height: $form-size-x-small - 1px;
    height: $form-size-x-small;
  }

  &.-block {
    display: block;
    width: 100%;
  }

  &.-paddingless {
    padding: 0;
  }

  &.-rounded {
    border-radius: $border-radius-rounded;
  }
}
