.empty-state {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  > .symbol {
    margin-bottom: 32px;
  }

  > .symbol > .icon {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: $color-white;
    background: $color-primary;
    border-radius: 50%;
  }

  > .main {
    text-transform: uppercase;
  }

  > .sub {
    color: $color-gray;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  > .action {
    margin-top: 32px;
  }

  &.-full > .sub {
    width: 100%;
  }

  &.-danger > .symbol > .icon {
    background: $color-danger;
  }
}