.form-group {
  margin-bottom: 8px;

  label {
    font-size: $font-size-h6;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2;
  }

  > .message {
    margin-top: 4px;
    margin-bottom: 0;
    color: $color-danger;
    font-size: 12px;
  }
}
