.form-combo {
  display: flex;
  height: $form-size;
  width: 100%;
  background: $color-white;
  border: 1px solid $color-gray;
  border-radius: $border-radius;

  > .input {
    display: block;
    width: 100%;
    padding: 0 8px;
    background: transparent;
    border: 0;
    outline: 0;
  }

  > .addon {
    margin: 4px;
  }
}
