.main-layout {
  display: flex;

  > .menu {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    background: $color-sub;
  }

  > .content {
    padding: 24px;
    width: 100%;
  }
}
