.main-layout {
  > .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    background: $color-sub;
    z-index: $zindex-layout-sidebar;
  }

  > .menu > .inner {
    overflow-y: scroll;
    height: 100%;
  }

  > .content {
    padding: 24px;
    padding-left: 324px;
    width: 100%;
    background: $color-white;
  }
}
