.main-layout {
  position: relative;
  min-height: 100vh;

  > .menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    background: $color-sub;
  }

  > .content {
    padding-left: 300px;
  }
}