.pane-search {
  flex-shrink: 0;
  display: flex;
  height: 40px;
  background: $color-sub-light;

  > .input {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
    color: $color-white;
    font-weight: 700;
    background: transparent;
    outline: 0;
  }

  > .filter {
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    color: $color-primary;
    font-weight: bold;
    font-size: 12px;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  > .submit {
    @include plain-button;
    margin-left: auto;
    color: $color-white;
    padding-left: 16px;
    padding-right: 16px;
    background: transparent;
    height: 100%;
  }
}
