.table {
  width: 100%;
  border-spacing: 0px;

  th,
  td {
    padding: 16px 8px;
    padding-left: 0;
    text-align: left;
    margin: 0;
    background: #fff;
  }

  th {
    color: $color-gray-dark;
    font-weight: 500;
    border-bottom: 0;
  }

  td {
    font-weight: 500;
    border-top: 1px solid $color-gray;
  }

  // &.table--centered {
  //   color: blue;
  // }

  &.-clickable tbody td {
    cursor: pointer;
  }
}
