@for $i from 1 through 12 {
  .u-size-#{$i} {
    width: percentage($i / 12);
  }
}

.u-clearfix {
  @include clearfix;
}

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

.u-text-success {
  color: $color-success;
}

.u-spacer {
  margin-bottom: 16px;
}

.u-spacer-large {
  margin-bottom: 32px;
}

/**
 * @source https://github.com/rstacruz/flowloop/blob/master/web/css/transitions/fade-in-late.css
 */

@keyframes fade-in-late {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}

.t-fade-in-late {
  animation: fade-in-late 600ms ease-out;
}

/**
 * @source https://github.com/rstacruz/flowloop/blob/master/web/css/transitions/fade-in-late.css
 */

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.8) translate3d(0, 0, 0);
  }
}

.t-pop-in {
  animation: pop-in 150ms cubic-bezier(0.1, 0.8, 0.2, 0.9);
  transform: translate3d(0, 0, 0);
}
