$color-white: #fff;
$color-black: #000;
$color-link: #16a085;
$color-gray: #26E081;
$color-gray-light: #ddd;
$color-primary: #26e081;
$color-sub: #26262C;
$color-sub-light: #404040;

$form-size: 36px;
$grid-gutter: 16px;
$grid-gutter-large: 32px;
$border-radius: 4px;

$zindex-tooltip: 900;
$zindex-overlay: 999;
$zindex-modal: 1000;